<div class="header-menu">
    <h6>Gabriel Gomes
        <img src="https://s3-alpha-sig.figma.com/img/73b5/c97d/c5b3a27ecf8d486ef61cf10f02c505ad?Expires=1636934400&Signature=Z334Ol1TgjFHXAHDebl1uQX3lHc-srEKRRz6B~eJHJ63Ii2un3AnwDtYHQkaD0VmLESY6mkof73eA1b3yAbekcZ0nmGVbi6hidsEXdDYJ~fOuMjbccQk6YWtcihCb0GPoTImVv9p-wS9UNf1gnPP-8dEs0Jyf7Ohuo0BCzASwffjaYV0xY0DcjExTAYhgeFIdPH4sIze~3RigoCxKQd5mV2TBcQ8RRSWHoAZ6jhiYCdE7Z9uexH83mrKD5GRCyVq7lzBLfuL5YxJpQjwuTZkeFwysbX9JhMu6dbMmmvAp7CNCHj5q~jL9EsELblQlvu8Ral6TcEO8VoGnosifS~VZg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
            alt="" width="32" height="32" class="rounded-circle me-2"></h6>
</div>