<div class="header-menu">
    <h6>Gabriel Gomes
        <img src="https://s3-alpha-sig.figma.com/img/73b5/c97d/c5b3a27ecf8d486ef61cf10f02c505ad?Expires=1632096000&Signature=BVGat6mPB8X~cZF~cBTclE-q9xXX4~ZqXzNB~hxQdGxmIFPbuCoJtPFlI3v1yaD2gEI5b1eadAvntQgv-J6naZVpBBd~38EP7eBJDxepXGTmCXdXRYtyveq6x586WHvLUDlDTZ0sce9lExs6~TQDuJBxSglfcbYz5K6~t9VkAuwhmpGbdolXUeWcYbX7QaR2KqCFoowrdvnZq1yQdbRcIqpIxqIT2bsBl6BjaxMhCgd1JH1d3DoezrAY-ZJK~2JjvaQoq9d0lCbM4WLOkgorP~s9UsM2moa~H7PHJd2wOu99udpCkq34Dc84VmE39udcWNrILrI5WNtm8MZ8xKhK2g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
            alt="" width="32" height="32" class="rounded-circle me-2"></h6>
</div>