<app-header></app-header>
<app-menu></app-menu>
<div class="ml-25 row">
    <div class="col">
        <div class="title">
            <h3>Dashboard</h3>
        </div>
        <!-- CARDS -->
        <div class="row align-self-center">
            <div class="container">
                <div class="row">
                    <div class="col-3 card-content">
                        <h5>Colaboradores Inativos</h5>
                        <span class="capital-letter">2</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Colaboradores em Need to Progress</h5>
                        <span class="capital-letter">2</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Colaboradores em Progressing</h5>
                        <span class="capital-letter">8</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Colaboradores em Differentiating
                        </h5>
                        <span class="capital-letter">3</span>
                    </div>
                </div>
            </div>
            <!-- CARDS -->
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="row chart-content">
                            <h5>Orçado x Realizado - Budget</h5>
                            <div echarts [options]="optionsChart" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
                            <div class="row dash-numbers">
                                <hr>
                                <div class="col-3 vert-line">
                                    <span class="small-letter">Média desv. meta</span><br/>
                                    <b class="font">{{this.dashData.mediaMensalDesvio}}%</b>
                                </div>
                                <div class="col-3 vert-line">
                                    <span class="small-letter">Médio real. mensal</span><br/>
                                    <b class="font">R$ {{this.dashData.medioRealizadoMensal | ShortNumber }}</b>
                                </div>
                                <div class="col-3 vert-line">
                                    <span class="small-letter">Realizado anual</span><br/>
                                    <b class="font">R$ {{this.dashData.realizadoAnual | ShortNumber }}</b>
                                </div>
                                <div class="col-3">
                                    <span class="small-letter">Orçado anual</span><br/>
                                    <b class="font">R$ {{this.dashData.orcadoAnual | ShortNumber }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row chart-content">
                            <a class="link" (click)="navigate('colaboradores')">Detalhes</a>
                            <h5>Colaboradores em risco</h5>
                            <span class="small-letter">Critérios: Skills compatíveis com busca de mercado</span>
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let colab of this.colaboradoresData">
                                        <td class="font">{{colab.name}}</td>
                                        <td class="font">{{colab.occupation}}</td>
                                        <td>
                                            <span [ngClass]="{'active': colab.status == 'ACTIVE', 
                                            'license' : colab.status === 'LICENSE',
                                            'inactive' : colab.status === 'INACTIVE' }">{{colab.status}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row chart-content">
                            <a class="link" (click)="navigate('hotskills')">Detalhes</a>
                            <h5>Hotskills</h5>
                            <span class="small-letter">Total de vagas buscadas (37)</span>
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let hotskill of this.hotskillsData">
                                        <td class="font">{{hotskill.title}}</td>
                                        <td class="font grey-font">{{hotskill.rate}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>