<app-header></app-header>
<app-menu></app-menu>
<div class="ml-25 row">
    <div class="col">
        <div class="title">
            <h3>Dashboard</h3>
        </div>
        <!-- CARDS -->
        <div class="row align-self-center">
            <div class="container">
                <div class="row">
                    <div class="col-3 card-content">
                        <h5>Dispositivos ativos</h5>
                        <span class="capital-letter">7</span>
                        <span class="small-letter">/5</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Ambientes ativos</h5>
                        <span class="capital-letter">8</span>
                        <span class="small-letter">/9</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Estimativa de economia mensal</h5>
                        <span class="small-letter">R$</span>
                        <span class="capital-letter">167,73</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Cômodo com mais consumo</h5>
                        <span class="capital-letter-2">Quarto do Artur</span><br>
                        <span class="small-letter">1537 KW</span>
                    </div>
                </div>
            </div>
            <!-- CARDS -->
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="row chart-content">
                            <h5>Orçado x Realizado - Budget</h5>
                            <div echarts [options]="optionsChart" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row chart-content">
                            <h5>Colaboradores em risco</h5>
                            <span class="small-letter">Critérios: Skills compatíveis com busca de mercado</span>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="font">Mariana Barros</td>
                                        <td class="font">Gerente Senior</td>
                                        <td><button type="button" class="btn btn-warning font">Urgente</button></td>
                                    </tr>
                                    <tr>
                                        <td class="font">Francisco Freitas</td>
                                        <td class="font">Gerente</td>
                                        <td class="font"><button type="button" class="btn btn-warning font">Urgente</button></td>
                                    </tr>
                                    <tr>
                                        <td class="font">Bruno de Melo</td>
                                        <td class="font">Analista Senior</td>
                                        <td class="font"><button type="button" class="btn btn-warning font">Urgente</button></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="row chart-content">
                            <h5>Hotskills</h5>
                            <span class="small-letter">Total de vagas buscadas (1238)</span>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="font">Business Intelligence</td>
                                        <td class="font grey-font">41%</td>
                                    </tr>
                                    <tr>
                                        <td class="font">Scrum - Agile</td>
                                        <td class="font grey-font">32%</td>
                                    </tr>
                                    <tr>
                                        <td class="font">Devops</td>
                                        <td class="font grey-font">14%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>